.navbar{
    text-align: center;
    min-height: 8vh;
    background-color: #83a3d6;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    align-items: center;
  }
  .nav-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    font-weight: 500;
    align-items: center;
  }